body{
    overflow: visible;
  }
  
.site-wrapper {
min-height: 100vh;
display: flex;
flex-direction: column;
}
header {
height: 110px;
display: flex;
align-items: center;
padding-block: 10px;
}

header .site-logo {
color: black;
margin-right: auto;
text-transform: uppercase;
font-weight: 900;
font-size: 25px;
}

header a {
text-decoration: none;
color: #4D4D4D;
font-weight: 600;
padding: 5px 20px;
}

header a:hover {
color: #161616;
text-decoration: underline;
}


footer {
background-color: #161616;
color: #AAAAAA;
height: 74px;
display: flex;
flex-shrink: 0;
justify-content: center;
align-items: center;
margin-top: auto;
font-weight: 500;
padding: 1%;
}
