* {
    box-sizing: border-box;
}

.sign_in {
    max-width: 500px;
    margin: auto;
    padding: 4vh 60px 5vh;
    text-align: center;
}

.inputs {
    align-items: center;
    margin-right: 20%;
    margin-top: 1%;
    font-size: 100%;
    direction: rtl;
    border-radius: 5px;
    border-color: #EEB182;
    border: 1px solid;
    width: 100%;
    padding: 15px 15px;
}


input[type='checkbox'] {
    color: #6e6d7d;
    margin-right: 4px;
}

.takanon {
    margin-top: 7%;
    font-size: 120%;
    font-family: sans-serif;
}

.btns,.btnEndSIgn {
    display: flex;
    justify-content: center;
    max-height: 55px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 45px;
    padding: 20px 15px;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    border: 0;
    border-radius: 5px;
}


.sign {
    margin-right: 40%;
    font-size: 200%;
    margin-top: 0%;
}

.log_in {
    max-width: 500px;
    margin: auto;
    padding: 4vh 60px 5vh;
}




@media screen and (max-width: 900px) {
    .logo {
        width: 40%;
    }
}


.begin {
    width: 8vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 0 24px 0 #ffc000c7;
    font-weight: 800;
    background-color: #ffc000c7;
    color: #fff;
    border: 0;
    margin-left: 45%;
}

.activeStyles {
    font-weight: bold;
text-decoration: none;  
  color: #ff41ea;
    overflow: auto;
    font-size: 200%;
    text-align: left;
    cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 20px;
}
.unActiveStyle{
    font-weight: bold;
    color: black;
    overflow: auto;
    font-size: 200%;
    text-align: left;
    cursor: pointer;
        display: flex;
        align-items: center;
        margin: 0 20px;
}

.endOfRegister {
    display: flex;
    margin: auto;
    overflow: auto;
    padding: 4vh 60px 5vh;
    justify-content: center;
}

.endOfRegister form div {
    display: flex;
    flex-direction: column;
}

.endOfRegister input {
    margin-bottom: 5%;
    width: 150%;
}

.divCompany,
.divAddress,
.divPersonalDetails {
    margin-left: 3%;
    margin-right: 3%;
    padding: 5%;
    width: 250%;

}
.btnEndSIgn{
    width:   250%;
    margin-top: 50%;
}
.logo {
    width: 55%; 
    height: auto; /* Maintain aspect ratio */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -30px;
}

@media screen and (max-width: 900px) {
    .logo {
        width: 40%;
    }
}

.deleteImage{
    width: 30px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 0;
}
.todoDiv,.postDiv,.albumDiv {
    justify-content: center;
    align-items: center;
    margin-left: 0;
    border: 2px solid #E09591; /* Specify width and style */
    border-radius: 2px;
    margin-bottom: 2px;
    padding: 3px;
    padding-bottom: 0;
    padding-top: 0;
}

.todoIndex,.postIndex{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.updateAndDelete{
    margin-bottom: 0;
}

.updateImage{
    margin-bottom: 4px;
}