*{
    box-sizing: border-box;
}
.logInAndSignIn {

    background-image: url(../pictures/WELCOME.png);
    direction: rtl;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.sign_in {
    max-width: 500px;
    margin: auto;
    overflow: auto;
    padding: 4vh 60px 5vh;
}
.inputs {
    align-items: center;
    margin-right: 20%;
    margin-top: 1%;
    font-size: 100%;
    width: 60%;
    direction: rtl;
    border-radius: 5px;
    border-color: gray;
    border: 1px solid ;
    width: 95%;
    padding: 15px 15px;
}
input[type='checkbox'] {
    color: #6e6d7d;
    margin-right: 4px;
}

.takanon {
    margin-top: 7%;
    font-size: 120%;
    font-family: sans-serif;
}
.btns {
    background-color: #ff41ea;
    box-shadow: 0 0 24px 0 #ff41ea99;
    display: flex;
    justify-content: center;
    max-height: 55px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 45px;
    padding: 20px 15px;
    border-radius: 5px;
    width: 95%;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
.link {
    font-size: 100%;
    margin-right: 20%;
    margin-top: 5%;
    font-size: 13px;
    color: var(--grey);
    text-align: left;
    font-family: sans-serif;
}
.message {
    margin-right: 25%;
    margin-top: 10%;
    font-size: 150%;
}
.sign {
    margin-right: 40%;
    font-size: 200%;
    margin-top: 0%;
}
.log_in {
    max-width: 500px;
    margin: auto;
    overflow: auto;
    padding: 4vh 60px 5vh;
}
.changeS {
    text-decoration: underline;
    color: #e29de2;
}
.changeL {
    text-decoration: underline;
    color: #e29de2;
}
.btnl {
    background-color: #ff41ea;
    box-shadow: 0 0 24px 0 #ff41ea99;
    display: flex;
    justify-content: center;
    max-height: 55px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 45px;
    padding: 20px 15px;
    border-radius: 5px;
    width: 95%;
    color: #fff;
    border: 0;
    border-radius: 5px;
}
.log {
    margin-right: 40%;
    font-size: 200%;
    margin-bottom: 10%;
}
@media screen and (max-width: 900px) {
    .logo {
        width: 40%;
    }
}
.type{
    margin-top: 3%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;
    color: #abaab6;
    font-size: 36px;
    font-weight: 800;
    cursor: pointer;
}
.selected{
    color: #ff41ea;
}
.space{
    display: flex;
    align-items: center;
    color: #d9d9d9;
    font-weight: 100;
    font-size: 20px;
    margin: 0 20px;
}
.addP{
    width: 7vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 0 24px 0 #ffc000c7;
    font-weight: 800;
    margin-top: 2vh;
    background-color: #ffc000c7;
    color: #fff;
    border: 0;
    margin-left: 28%;
}
.begin{
    width: 8vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    box-shadow: 0 0 24px 0 #ffc000c7;
    font-weight: 800;
    background-color: #ffc000c7;
    color: #fff;
    border: 0; 
    margin-left: 45%;
}