* {
    padding: 0;
    margin: 0;
}

.sign_in {
    max-width: 500px;
    padding: 4vh 60px 5vh;
    text-align: center;
}

.inputs {
    align-items: center;
    margin-right: 20%;
    margin-top: 1%;
    font-size: 100%;
    direction: rtl;
    border-radius: 5px;
    border-color: #EEB182;
    width: 100%;
    padding: 15px 15px;
}


input[type='checkbox'] {
    color: #6e6d7d;
    margin-right: 4px;
}

.takanon {
    margin-top: 7%;
    font-size: 120%;
    font-family: sans-serif;
}

.btns,
.btnEndSIgn {
    background-color: #EEB182;
    display: flex;
    justify-content: center;
    max-height: 55px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 45px;
    padding: 20px 15px;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}


.sign {
    margin-right: 40%;
    font-size: 200%;
    margin-top: 0%;
}

.log_in {
    max-width: 500px;
    margin: auto;
    padding: 4vh 60px 5vh;
}

.btnl {
    background-color: #EEB182;
    display: flex;
    justify-content: center;
    max-height: 55px;
    font-size: 18px;
    font-weight: 600;
    margin-top: 45px;
    padding: 20px 15px;
    border-radius: 5px;
    width: 100%;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}


@media screen and (max-width: 900px) {
    .logo {
        width: 40%;
    }
}


.begin {
    width: 8vw;
    height: 9vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-weight: 800;
    background-color: #ffc000c7;
    color: #fff;
    border: 0;
    margin-left: 45%;
}

.activeStyles {
    font-weight: bold;
    text-decoration: none;
    color: #F8F3EA;
    overflow: auto;
    font-size: 150%;
    text-align: left;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.unActiveStyle {
    font-weight: bold;
    color: black;
    overflow: auto;
    font-size: 150%;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.endOfRegister {
    display: flex;
    margin: auto;
    overflow: auto;
    padding: 4vh 60px 5vh;
    justify-content: center;
}

.endOfRegister form div {
    display: flex;
    flex-direction: column;
}

.endOfRegister input {
    margin-bottom: 5%;
    width: 150%;
}

.divCompany,
.divAddress,
.divPersonalDetails {
    margin-left: 3%;
    margin-right: 3%;
    padding: 5%;
    width: 250%;
}
.divCompany{
    margin-right: 10%;
}
.btnEndSIgn {
    width: 250%;
    margin-top: 70%;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}


header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 20px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}


footer {
    font-weight: bold;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
    padding: 1%;
    background: #F0D0C1;
}

.Welcoming, .Welcoming2 {
    font-size: 46px;
    text-align: center;
    margin-top: 50px;
    color: #EEB182;
}

.Welcoming2 {
    font-size: 36px;

}

@media screen and (max-width: 768px) {
    .Welcoming {
        font-size: 24px;
        /* Adjust font size for smaller screens if necessary */
    }
}

.customStyles {

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #EEB182;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    max-height: 80vh;
    overflow-y: auto;
}

.customStyles-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.modalButton {
    background-color: #EEB182;
    justify-content: center;
    font-size: 18px;
    margin-top: 45px;
    padding: 15px 15px;
    color: #fff;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-left: 70%;
    border-color: #F8F3EA;
}

.animate {
    animation: animatezoom 0.6s;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 40%;
    padding: 1%;
}

form {
    display: block;
    margin-top: 0em;
}

.container {
    padding: 16px;
    margin-top: 15%;
    margin-bottom: 15%;
}

div {
    display: block;
}

/* The Modal (background) */
.modal {
    position: fixed;
    /* Stay in place */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.close{
    font-size: 30px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    cursor: pointer;
}
.customStyles {
    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    background-color: #EEB182;
    border-radius: 10px;
    padding: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 500px;
    max-height: 80vh; 
    overflow-y: auto; 
}

.customStyles-overlay {
    background-color: rgba(0, 0, 0, 0.8);
}

.modalButton{
    background-color: #EEB182;
    justify-content: center;
    font-size: 18px;
    margin-top: 45px;
    padding: 15px 15px;
    color: #fff;
    border-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    border-color: #F8F3EA;
    margin-left: 50px;
}
.todosDiv {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Create four equal-width columns */
    gap: 10px; /* Add some gap between the columns */
    margin: 10px;

}
.todoButtonsDiV{
    display: flex;
    margin-right: 0;

}
.todoAddButton{
    background-color: #E09591;
    display: flex;
    justify-content: center;
    max-height: 55px;
    font-size: 15px;
    font-weight: 600;
    padding: 20px 15px;
    border-radius: 5px;
    color: #fff;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 650px;
}
.clearTodo{
    width: 30px;
    height: 30px;
}
.todoButtonsDiV label{
        font-weight: bold;
        text-decoration: none;
        text-align: left;
        align-items: center;
        margin: 0 20px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 20px;
}
.todoButtonsDiV select{
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
padding: 4px;
}
.task{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}